<!doctype html>

<html>
	<head>
		<title>Sports Registration</title>
		<style>
			body {
				background-color: #132;
				font-size: 20px;
				color: #DD0;
			}
			input, select {
				margin: 10px 20px 0 0;
			}
		</style>
	</head>

	<body>
		<form action="send">
			name: <input type="text" name="name"><br />
			house: <select name="house">
				<option></option>
				<option>Nehru</option>
				<option>Gandhi</option>
				<option>Tagore</option>
				<option>Shastri</option>
			</select> <br />
			<input type="submit">
		</form>
	</body>
</html>